
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="weather">
        <div class="current">
          <div class="info">
            <div>&nbsp;</div>
            <div *ngIf="city" class="city"><small><small>CITY:</small></small> {{city}}</div>
            <div class="temp">67&deg; <small>F</small></div>
            <div class="wind"><small><small>WIND:</small></small> 22 km/h</div>
            <div>&nbsp;</div>
          </div>
          <div class="icon">
            <span class="wi-day-sunny"></span>
          </div>
        </div>
        <div class="future">
          <div class="day">
            <h3>M</h3>
            <p><span class="wi-day-cloudy"></span></p>
            <p><span>10</span></p>
          </div>
          <div class="day">
            <h3>T</h3>
            <p><span class="wi-showers"></span></p>
            <p><span>10</span></p>
          </div>
          <div class="day">
            <h3>W</h3>
            <p><span class="wi-rain"></span></p>
            <p><span>10</span></p>
          </div>
          <div class="day">
            <h3>T</h3>
            <p><span class="wi-rain"></span></p>
            <p><span>10</span></p>
          </div>
          <div class="day">
            <h3>F</h3>
            <p><span class="wi-rain"></span></p>
            <p><span>10</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<div *ngIf="city" class="card">
  <span class="city">{{city?.name}}</span>
    <ul class="menu">
      <li *ngIf="coord" class="font-size">Latitude: {{coord?.lat}}</li>
      <li *ngIf="coord" class="font-size">Longitude: {{coord?.lon}}</li>
      <li *ngIf="city" class="font-size">Population: {{city?.population}}</li>
    </ul>
    <br>
  <div class="sun"></div>
  <span class="temp">{{temprature?.temp}}&#176;</span>
  <span>
    <ul class="variations">
      <li>Wind</li>
      <li><span class="speed">{{wind?.speed}}<span class="mph">mph</span></span></li>
    </ul>
  </span>
  <div class="forecast clear">
      <!-- <div class="day tue">MON 
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
    <div class="day tue">TUE 
      <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
    </div>
    <div class="day wed">WED
       <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
    </div>
    <div class="day thu">THU 
      <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
    </div> -->
    <div class="day fri">FRI
      <br> <span class="cloudy"></span> <br> <span class="highTemp">{{temprature?.temp_max}}&#176;</span> <br> <span class="lowTemp">{{temprature?.temp_min}}&#176;</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>